*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 2rem;
}

body{
    background-color: lightblue;
}
/* movil primero */
@media (min-width: 600px){
    body{
        background-color: red;
    }
    p{
        font-size: 20px;
    }
    nav li{
        display: inline;
    }
}

@media (min-width: 800px){
    body{
        background-color: blue;
    }
}