p { 
    color:rgb(255, 0, 0);
    
}

nav {
    background-color: black;
    text-align: center;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    


}
a {
    color: white;
    padding: 50px;
    
    
}

a:hover {
    color: black;
    background: white;
    border-bottom: 5px rgba(255, 255, 255, 0.445);
}