 /* 
 lista:
 Haz que el 칰ltimo li tenga fondo azul. Especifica ese fondo azul usando valores RGB

Haz que los li impares tengan el texto subrayado. Haz que el subrayado sea de color verde.

Haz que todos los elementos de la lista aparezcan en una sola l칤nea en lugar de unos debajo de otros y que tengan una separaci칩n de 10 p칤xeles entre unos y otros.

Haz que al final de cada li aparezca un emoji diferente sin modificar el html.

Haz que el li que tiene texto en ingl칠s tenga el tipo de letra del doble de tama침o que los otros y en may칰sculas. 

Provincias:
En lugar de tener puntos a la izquierda de los elementos tenga n칰meros romanos.

Excepto "A Coru침a" que no debe tener n칰mero romano a la izquierda.

*/



/* Lista */
.lista li:nth-last-child(1){
    background-color: rgb(26, 26, 252);
    
}

.lista li:nth-of-type(odd){
    text-decoration: underline lime;

}

.lista{
    list-style-type: none;
      
}

.lista li{
    margin: 10px;
    display: inline;
    
}
.lista li::after{
    content: "";
}
/*De esta manera funciona pero ne he encontrado todav칤a, una manera m치s secilla*/

.lista li:nth-of-type(1)::after{
    content: "游냋";
}

.lista li:nth-of-type(2)::after{
    content: "游놓 ";
}

.lista li:nth-of-type(3)::after{
    content: "游붃";
}

.lista li:nth-of-type(4)::after{
    content: "游";
}

.lista li:nth-of-type(5)::after{
    content: "游쁵";
}

.lista li:nth-of-type(6)::after{
    content: "游꺃";
}

li[lang]{
    font-size: 200%;
    text-transform: uppercase;

}


/* Provincias */

#provincias li{
    list-style-type: upper-roman;   
}

#provincias li:nth-child(2){
    list-style-type: circle;
}








