@import url(/base.css);
/* hola! está un poco caótico por falta de tiempo, me gustaría pulir el orden en general y la limpieza del codigo, ha partes como el footer dentro del media queri que se que no es de la forma en la que se pide pero funciona y se consigen las mediadas.
Un salido =)*/
body {
  display: grid;
  grid-template-rows: 10rem 2rem auto 2rem;
  grid-template-areas:
    "header"
    "menu"
    "main"
    "footer";
}
/* HEADER */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  grid-area: header;
}
header form {
  display: flex;
}

header > nav {
  flex-direction: row;
  gap: 1rem;
}

menu {
  display: flex;
  align-content: stretch;
  gap: 1rem;

  grid-area: menu;
}

main {
  display: grid;

  grid-auto-rows: minmax();
  grid-template-columns: repeat(auto-fit, 10rem);
  justify-content: space-evenly;
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;

  grid-area: main;
}

footer {
  grid-area: footer;
  text-align: center;
  height: min-content;
}

/* //////////////////////////////////////////////// */

@media (min-width: 600px) {
  body {
    display: grid;
    grid-template-rows: 5rem 10rem auto 2rem;
    grid-template-columns: 10rem auto;
    grid-template-areas:
      "header header"
      "menu main"
      "menu main"
      "footer footer";
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: header;
  }

  header > nav {
    flex-direction: row;
  }

  nav > li {
    gap: 1rem;
    display: flex;
    align-content: stretch;
    gap: 1rem;
    flex-direction: column;

    grid-area: menu;
  }

  nav[aria-label="categorias"] > menu {
    display: flex;
    flex-direction: column;
  }
  main {
    column-gap: 1rem;
  }
  footer {
    grid-area: footer;
    align-items: end;
    justify-content: end;
  }
  footer > a {
    margin: 2rem;
  }
}
