*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 400vh;
}
h1{
    padding: 3rem;

}

header{
    /* si tiene position statil(por defecto)
    no le afecta al z-index */
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
    
}
nav{
    background-color: gray;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav li{
    display: inline-block;
    list-style: none;
}

nav a{
    padding: 1rem;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: wheat;
    border-right: 1px solid;
}

#volver{
    position: fixed;
    right: 0;
    top: 4rem;
    padding: 0.5rem 1rem;
    z-index: -1;
    background-color: black;
    color: aliceblue;


}